@import url('http://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&amp;family=Oswald&amp;display=swap');
body {
  background-color: black;
  -webkit-overflow-Y: hidden;
    -moz-overflow-Y: hidden;
    -o-overflow-Y: hidden;
    overflow-y: hidden;
    -webkit-overflow-X: hidden;
    -moz-overflow-X: hidden;
    -o-overflow-X: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None;
    cursor: url('cursor.png'), denaye;
}

#hero img {
    height: 100vh;
    width: 100%;
    background-position: absolute;
    z-index: 10;
    object-fit: cover;
}
#hero .content {
    background: rgba(	);
    height: 100%;
    width: 100%;
    z-index:20;
    position:absolute;
    top:0;
    left:0;
}
.sound {
    position:absolute;
    display: inline-block;
    width: 60px;
    height:34px;
    left: 48.5%;
    top: 53%;
    color:white; 
    text-shadow: 0 0 0.40em #bababa; 
    margin-left:0px; 
    margin-top: 35px;
}

.steam {
    position:absolute;
    display: inline-block;
    width: 60px;
    height:34px;
    left: 46.5%;
    top: 53%;
    color:white; 
    text-shadow: 0 0 0.40em #bababa; 
    margin-left:-50px; 
    margin-right:15px; 
    margin-top: 35px;
    cursor: pointer;
}

.vanta {
    position:absolute;
    display: inline-block;
    width: 60px;
    height:34px;
    left: 50.5%;
    top: 53%;
    color:white; 
    text-shadow: 0 0 0.40em #bababa; 
    margin-left:50px; 
    margin-top: 35px;
    cursor: pointer;
}


.switch {
    position:absolute;
    display: inline-block;
    width: 60px;
    height:34px;
    left: 48.5%;
    top: 53%;
}
@keyframes switch {

0%{
    box-shadow: 0 0 5px rgb(223, 224, 224);
}

50%{
    box-shadow: 0 0 25px rgb(223, 224, 224);
}

100%{
    box-shadow: 0 0 5px rgb(223, 224, 224);
}
}

.switch input {
    opacity:0;
    width:0;
    height:0;
}
.slider {
    position: absolute;
    cursor: url('cursor.png'), denaye;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgb(223, 224, 224);
    box-shadow: 0 0 20px rgb(223, 224, 224);
    -webkit-transition: .4s;
    animation: switch 3s linear infinite;
}
.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width:26px ;
    left:4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
}
input:checked + .slider {
    background-color: rgb(74, 75, 75);
}
input:focus + .slider{
    box-shadow: 0 0 20px rgb(74, 75, 75);
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round{
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
@import url('http://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&amp;display=swap');
#center {
font-family: 'PT Sans Narrow', sans-serif;
}
#button-text {
font-family: 'Open Sans Condensed', sans-serif;
}
#block {
  margin-left: 3px;
  margin-right:3px;
}
.logo{
    height: 50px;
    width: 50px;
    margin-top: -180px;
    animation: logo 3s linear infinite;

}
@keyframes logo {

0%{
    box-shadow: 0 0 0px rgb(255, 255, 255);
    transform: translateY(0) rotate(0deg);
}

50%{
    box-shadow: 0 0 20px rgb(255, 255, 255);
    transform: translateY(0) rotate(180deg);
}

100%{
    box-shadow: 0 0 0px rgb(255, 255, 255);
    transform: translateY(0) rotate(360deg);
}
}
h1{
    margin-top: -40px;
    color: #6b00c2;
    text-shadow: 0 0 15px #7a7a7a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
        font-weight: bolder;
}
h2{
    margin-top: -10px;
    color: white;
    text-shadow: 0 0 15px rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8em;
        font-weight: bolder;
}
.king{
    color:white; 
    text-shadow: 0 0 0.40em #ffffff;
    animation: animate 3s linear infinite;
}
@keyframes animate {

0%{
    font-size: 25px;
    text-shadow: 0 0 0.40em #bababa;
}

50%{
    font-size: 50px;
    text-shadow: 0 0 20px rgb(171, 241, 241);
}

100%{
    font-size: 25px;
    text-shadow: 0 0 0.40em #bababa;
}
}

.bgg{
    position: absolute;
    background-color: #4405773f;
    width: 10000px;
    height: 10000px;
}
.circles{
position: absolute;
top: 148px;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
}

.circles li{
position: absolute;
display: block;
list-style: none;
width: 20px;
height: 20px;
background: #440577;
animation: animate 7s linear infinite;
bottom: -150px;

}

.circles li:nth-child(1){
left: 25%;
width: 80px;
height: 80px;
background: #440577;
animation-delay: 0s;
}


.circles li:nth-child(2){
left: 10%;
width: 20px;
height: 20px;
animation-delay: 2s;
background: #440577;
animation-duration: 7s;
}

.circles li:nth-child(3){
left: 70%;
width: 20px;
height: 20px;
background: rgba(0,0,0,1);
animation-delay: 2s;
}

.circles li:nth-child(4){
left: 40%;
width: 60px;
height: 60px;
animation-delay: 0s;
background: rgba(0,0,0,1);
animation-duration: 6s;
}

.circles li:nth-child(5){
left: 65%;
width: 20px;
height: 20px;
background: #440577;
animation-delay: 0s;
}

.circles li:nth-child(6){
left: 75%;
width: 110px;
height: 110px;
background: rgba(0,0,0,1);
animation-delay: 2s;
}

.circles li:nth-child(7){
left: 35%;
width: 150px;
height: 150px;
background: rgba(0,0,0,1);
animation-delay: 4s;
}

.circles li:nth-child(8){
left: 50%;
width: 25px;
height: 25px;
animation-delay: 5s;
background: #440577;
animation-duration: 25s;
}

.circles li:nth-child(9){
left: 20%;
width: 15px;
height: 15px;
animation-delay: 1s;
background: rgba(0,0,0,1);
animation-duration: 15s;
}

.circles li:nth-child(10){
left: 85%;
width: 150px;
height: 150px;
animation-delay: 0s;
background: rgba(0,0,0,1);
animation-duration: 5s;
}

.circles li:nth-child(11){
left: 15%;
width: 110px;
height: 110px;
background: #440577;
animation-delay: 8s;
}

.circles li:nth-child(12){
left: 50%;
width: 90px;
height: 90px;
background: rgba(0,0,0,1);
animation-delay: 7s;
}

.circles li:nth-child(13){
left: 75%;
width: 50px;
height: 50px;
background: rgba(0,0,0,1);
animation-delay: 6s;
}

.circles li:nth-child(14){
left: 40%;
width: 20px;
height: 20px;
background: rgba(0,0,0,1);
animation-delay: 8s;
}

.circles li:nth-child(15){
left: 80%;
width: 90px;
height: 90px;
background: #440577;
animation-delay: 6s;
}

.circles li:nth-child(16){
left: 65%;
width: 20px;
height: 20px;
background: #440577;
animation-delay: 0s;
}

.circles li:nth-child(17){
left: 75%;
width: 110px;
height: 110px;
background: rgba(0,0,0,1);
animation-delay: 2s;
}

.circles li:nth-child(18){
left: 35%;
width: 150px;
height: 150px;
background: rgba(0,0,0,1);
animation-delay: 4s;
}

.circles li:nth-child(19){
left: 50%;
width: 25px;
height: 25px;
animation-delay: 5s;
background: #440577;
animation-duration: 15s;
}

.circles li:nth-child(20){
left: 20%;
width: 15px;
height: 15px;
animation-delay: 1s;
background: rgba(0,0,0,1);
animation-duration: 5s;
}

.circles li:nth-child(21){
left: 60%;
width: 150px;
height: 150px;
animation-delay: 0s;
background: rgba(0,0,0,1);
animation-duration: 9s;
}

.circles li:nth-child(22){
left: 15%;
width: 110px;
height: 110px;
background: #440577;
animation-delay: 15s;
}

.circles li:nth-child(23){
left: 50%;
width: 90px;
height: 90px;
background: rgba(0,0,0,1);
animation-delay: 10s;
}

.circles li:nth-child(24){
left: 75%;
width: 50px;
height: 50px;
background: rgba(0,0,0,1);
animation-delay: 12s;
}

.circles li:nth-child(25){
left: 40%;
width: 20px;
height: 20px;
background: rgba(0,0,0,1);
animation-delay: 14s;
}




@keyframes animate {

0%{
transform: translateY(0) rotate(0deg);
opacity: 1;
border-radius: 0%;
}

100%{
transform: translateY(-1000px) rotate(720deg);
opacity: 0;
border-radius: 100%;
}
}


