body{
    -webkit-overflow-X: hidden;
    -moz-overflow-X: hidden;
    -o-overflow-X: hidden;
    overflow-x: hidden;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    justify-content: center;
    align-items: center;
    display: flex;
    user-select: None;
    background: #131313;
    cursor: url('cursor.png'), default; 
    background-image: url("https://cdn.discordapp.com/attachments/965024376405762078/975764359009677382/watermark.png");
    text-decoration: none;
}

h1{
  text-align: center;
  color: white;
}
h4{
  text-align: center;
  color: white;
  font-size: 16px;
}
h4.link{
  color:inherit;
  color: #03a9f4;
  text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
::-webkit-scrollbar {
    width: 8px;
  }

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgb(151, 151, 151); 
    border-radius: 5px;
  }

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.133) 0%, rgba(255, 255, 255, 0.294) 100%); 
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.133) 0%, rgba(255, 255, 255, 0.294) 100%); 
  }

*{
  font-family: 'Poppins', sans-serif;
}



.container{
  position: relative;
  display: inline-block;

}

.container .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
}

.container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ba00d3a6;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card:after{
  content: 'Vanta';
  position: absolute;
  top: 40%;
  left: -8%;
  font-size: 8em;
  font-weight: 800;
  font-style: italic;
  color: rgba(206, 0, 161, 0.13)
}

.container .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.7s;
}

.container .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.container .card .imgBx img{
  position: absolute;
  top: 50%;
  border-radius: 50%;
  left: 50%;
  transform: translate(-40%, -60%);
  width: 270px;
}

.container .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx{
  height: 210px;
}

.container .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3, .container .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span{
  width: 41px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 13px;
  display: inline-block;
  color: white;
  background: rgb(135, 0, 177);
  margin: 0 5px;
  transition: 0.5s;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .size span:hover{
  background: #6f007e;
  color: white;
}

.container .card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2){
  background: #9bdc28;
}

.container .card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

.container .card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

.container .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  
}

.container .card .contentBx a:hover{
    background: rgba(122, 0, 133, 0.411);
    transition: 0.5s;
    color: white;
}














.container .card1{
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
  }
  
  .container .card1:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00a6aca6;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
  }
  
  .container .card1:hover:before{
    clip-path: circle(300px at 80% -20%);
  }
  
  .container .card1:after{
    content: 'Makfn';
    position: absolute;
    top: 40%;
    left: -8%;
    font-size: 8em;
    font-weight: 800;
    font-style: italic;
    color: rgba(0, 120, 150, 0.13)
  }
  
  .container .card1 .imgBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.7s;
  }
  
  .container .card1:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
      
  }
  
  .container .card1 .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    width: 270px;
  }
  
  .container .card1 .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
  }
  
  .container .card1:hover .contentBx{
    height: 210px;
  }
  
  .container .card1 .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
  }
  
  .container .card1 .contentBx .size, .container .card1 .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .container .card1:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
  }
  
  .container .card1:hover .contentBx .color{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
  }
  
  .container .card1 .contentBx .size h3, .container .card1 .contentBx .color h3{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
  }
  
  .container .card1 .contentBx .size span{
    width: 41px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 13px;
    display: inline-block;
    color: white;
    background: rgb(0, 179, 185);
    margin: 0 5px;
    transition: 0.5s;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .container .card1 .contentBx .size span:hover{
    background: #0093ad;
    color: white;
  }
  
  .container .card1 .contentBx .color span{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .container .card1 .contentBx .color span:nth-child(2){
    background: #9bdc28;
  }
  
  .container .card1 .contentBx .color span:nth-child(3){
    background: #03a9f4;
  }
  
  .container .card1 .contentBx .color span:nth-child(4){
    background: #e91e63;
  }
  
  .container .card1 .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;
  }
  
  .container .card1:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    
  }
  
  .container .card1 .contentBx a:hover{
      background: rgba(0, 129, 133, 0.411);
      transition: 0.5s;
      color: white;
  }
  

















  .container .card2{
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
  }
  
  .container .card2:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8460FF;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
  }
  
  .container .card2:hover:before{
    clip-path: circle(300px at 80% -20%);
  }
  
  .container .card2:after{
    content: 'reSize';
    position: absolute;
    top: 40%;
    left: -8%;
    font-size: 8em;
    font-weight: 800;
    font-style: italic;
    color: #8560ff2d
  }
  
  .container .card2 .imgBx{
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.9s;
  }
  
  .container .card2:hover .imgBx{
    
    top: 0%;
    transform: translateY(0%);
      
  }
  
  .container .card2 .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    width: 270px;
  }
  
  .container .card2 .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
  }
  
  .container .card2:hover .contentBx{
    height: 210px;
  }
  
  .container .card2 .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
  }
  
  .container .card2 .contentBx .size, .container .card2 .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .container .card2:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
  }
  
  .container .card2:hover .contentBx .color{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
  }
  
  .container .card2 .contentBx .size h3, .container .card2 .contentBx .color h3{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
  }
  
  .container .card2 .contentBx .size span{
    width: 55px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 13px;
    display: inline-block;
    color: white;
    background: #8460FF;
    margin: 0 5px;
    transition: 0.5s;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .container .card2 .contentBx .size span:hover{
    background: #8560ff80;
    color: white;
  }
  
  .container .card2 .contentBx .color span{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .container .card2 .contentBx .color span:nth-child(2){
    background: #9bdc28;
  }
  
  .container .card2 .contentBx .color span:nth-child(3){
    background: #03a9f4;
  }
  
  .container .card2 .contentBx .color span:nth-child(4){
    background: #e91e63;
  }
  
  .container .card2 .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;
  }
  
  .container .card2:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    
  }
  
  .container .card2 .contentBx a:hover{
      background: rgba(0, 129, 133, 0.411);
      transition: 0.5s;
      color: white;
  }
  